<ng-template #empty>
  <p class="container mt-3 mb-3 display-5 text-primary text-info">Vacancy not found !</p>
</ng-template>

<div class="d-flex p-4">
    
    <div class="w-20">

      <div class=" d-flex flex-column align-items-center p-2 mb-3">
        <div style="width: 100px; height: 100px;" class="rounded-circle bg-light">
          <p class="display-4 text-center"></p>
        </div>
        <!-- <img src="" class="rounded-circle" height="100" width="100" alt="..."> -->
        <strong class="mt-2">{{employe.name}}</strong>  
        <small>{{employe.email}}</small>
      </div>

      <div class="d-flex align-items-center mb-4">

          <a href="{{employe.resume}}" target="_blank" rel="noopener noreferrer">
            <span class="badge bg-info text-light p-2">
              <i class="bi bi-file-earmark-person"></i> &nbsp; Resume
            </span>
          </a>
        
          <a routerLink="/" class="ml-3">
            <span class="badge bg-primary text-light p-2" style="cursor: pointer;">
              <i class="bi bi-briefcase"></i> &nbsp; Apply
            </span>
          </a>
          
      </div>
  
      <div class="d-flex justify-content-between align-items-center">

        <a class="navbar-brand">Applied Vacancies</a>
      </div>

      <div *ngIf="(vacancy) else empty">
        <div class="list-group" id="list-tab" role="tablist">
        
          <a *ngFor="let j of vacancy; let i = index" class="list-group-item list-group-item-action {{i===0 ? 'active' : ''}}" id="list-{{i}}-list" data-toggle="list" href="#list-{{i}}" role="tab" aria-controls="{{i}}">
            {{j.title}}
          </a>
        </div>
  
      </div>

    </div>
    <div class="w-80">
      <!-- <p class="container mt-3 mb-4 display-4 text-center">Vacancy</p> -->
      <div class="tab-content" id="nav-tabContent">
        <div *ngFor="let j of vacancy; let i = index" class="tab-pane fade show {{i===0 ? 'active' : ''}}" id="list-{{i}}" role="tabpanel" aria-labelledby="list-{{i}}-list">
            <div class="card container w-60 p-4 mt-3">
                <h5 class="card-title">{{j.title}}</h5>
                <h6 class="card-subtitle mb-3 text-muted">{{j.role}}</h6>
                <div class="d-flex flex-row ">
                    <img src="{{j.postedby.avatar}}" height="100" width="auto" alt="...">
                    <div class="card-body">
                        <p class="card-text">{{j.description}}</p>
                        <button (click)="jobDetails(j)" class="btn btn-info btn-sm">Job description</button>
                    </div>
                </div>
            </div>
            
        </div>
      </div>
    </div>
  </div>