<form #form="ngForm" class="container">
    <p class="display-3 mt-5">Upload Your New Resume {{employe.name}}</p>
    

    <div class="form-group">
        <label class="bmd-label-floating">Upload Resume</label>
        <input 
          (change)="uploadImage($event)"
          ngModel
          name="avatar"
          accept="*.png*.jpg*.jpeg*.docx*.doc*.pdf" 
          type="file"    
          class="form-control-file"
        >
        <small class="text-small text-muted"> 
            <span class="text-danger">*</span> 
            Supported formats .png .jpg, .jpeg, .pdf, .docx, .doc
        </small>
      </div>

  </form>