<ng-template #empty>
  <p class="container mt-3 mb-3 display-5 text-primary text-info">Vacancy not found !</p>
</ng-template>

<div class="d-flex p-4">
    
    <div class="w-20">

      <div class=" d-flex flex-column align-items-center p-2 mb-3">
        <img src="{{employer.avatar}}" class="rounded-circle" height="100" width="100" alt="...">
        <strong class="mt-2">{{employer.name}}</strong>  
        <small>{{employer.email}}</small>
      </div>

      <div class="d-flex justify-content-center align-items-center mb-2">

        <a routerLink="/post-job" class="">
          <button type="button" class="btn btn-outline-info">
            <i class="bi bi-plus-circle"></i> &nbsp; Post Job
          </button>
        </a>

      </div>

      <hr>

        <p class="navbar-brand">List of Vacancies</p>

      <div *ngIf="vacancy else empty">
        <div class="list-group" id="list-tab" role="tablist">
        
          <a *ngFor="let j of vacancy; let i = index" class="list-group-item list-group-item-action {{i===0 ? 'active' : ''}}" id="list-{{i}}-list" data-toggle="list" href="#list-{{i}}" role="tab" aria-controls="{{i}}">
            {{j.title}}
          </a>
        </div>
  
      </div>

    </div>
    <div class="w-80">

      <div class="tab-content" id="nav-tabContent">
        <div *ngFor="let j of vacancy; let i = index" class="tab-pane fade show {{i===0 ? 'active' : ''}}" id="list-{{i}}" role="tabpanel" aria-labelledby="list-{{i}}-list">

            <div class="card container bg-light w-60 p-4 mt-3">
        
              <div class="d-flex flex-row align-items-center">
                  <div class="card-body">
                      <h5 class="card-title">{{j.title}}</h5>
                      <h6 class="card-subtitle  text-muted">{{j.role}}</h6>
                      <small class="text-muted ">{{j.city}}</small>
                  </div>
              </div>
              
              <div class="d-flex justify-content-between align-items-center mt-5">
      
                  <div class="text-center">
                      <p><i class="fas fa-rupee-sign text-primary"></i></p>
                      <div class="card-body">
                          <h6 class="card-subtitle text-muted">{{j.salary}}</h6>
                          <small class="text-muted ">Salary per month</small>
                      </div>
                  </div>
      
                  <div class="text-center">
                      <p><i class="fas fa-briefcase text-primary"></i></p>
                      <div class="card-body">
                          <h6 class="card-subtitle text-muted">{{j.experience}} Yr.</h6>
                          <small class="text-muted ">Experience</small>
                      </div>
                  </div>
      
                  <div class="text-center">
                      <p><i class="fas fa-graduation-cap text-primary"></i></p>
                      <div class="card-body">
                          <h6 class="card-subtitle text-muted">{{j.qualification}}</h6>
                          <small class="text-muted ">Minimum Qualification</small>
                      </div>
                  </div>
      
                  <div class="text-center">
                      <p><i class="fas fa-user-md text-primary"></i></p>
                      <div class="card-body">
                          <h6 class="card-subtitle  text-muted">{{j.gender === 'both' ? 'male/female' : j.gender }}</h6>
                          <small class="text-muted ">Employment</small>
                      </div>
                  </div>
              </div>

              <p class="display-5 text-center mt-3 mb-3 text-primary">Job Description</p>

              <p class="text-center">{{j.description}}</p>

              <div class="text-center">
                <p class="display-5 text-center mt-3 mb-3 text-primary">Required Skills</p>
                <p class="display-5 text-center mb-3">{{j.skills}}</p>
              </div>
              <div class="text-center mt-2">
                <button (click)="deleteVacancy(j)" type="button" class="btn btn-outline-danger btn-sm">
                  <i class="bi bi-archive"></i> &nbsp; Post Job
                </button>
              </div>
              
            </div>
        </div>
      </div>
    </div>
  </div>